@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

.div {
    text-align: center;
    font-family: "Shadows Into Light";
    font-size: 25px;
    padding-bottom: 5rem;
    margin-left: 35vh;
    margin-right: 35vh;
}