@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.cont {
  font-family: "Shadows Into Light";
  font-size: 22px;
  margin-bottom: 30vh;
}

.cont2 {
  font-family: "Shadows Into Light";
  font-size: 22px;
  margin-bottom: 20vh;
}

.cont3 {
  font-family: "Shadows Into Light";
  font-size: 22px;
  margin-bottom: 10vh;
}
