.card {
    text-align:"center"; 
    align-items: center; 
    border:2px solid crimson;
    border-radius: 5px;
    height: 500px;
}

.card:hover {
    cursor: pointer;
}

.card li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.title {
    font-size: 25px;
    color: red;
}