@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

.div {
    text-align: center;
    font-family: "Shadows Into Light";
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 550px;
}

 
.form-group {
    min-width: 500px;
}