@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Shadows Into Light";
    min-height: 100%;
    width: 100%;
    font-size: 30px;
}

.container p {
    align-self: center;
}

.createCardButton {
    align-self: center;
    margin-top: 70px;
    justify-self: center;


}

.configureUserButton {
    align-self: center;
    margin-top: 50px;
}

.container h2 {
    margin-top: 20px;
    align-self: center;
}